.wrapper {
    height: 2000px;
    border-radius: 8px;
    padding: 16px;
    background-color: #fff;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
        rgba(247, 247, 250, 0.1) 0px 16px 56px,
        rgba(17, 17, 26, 0.1) 0px 24px 80px;
    padding-bottom: 30px;
}

.wrapper.color-changed {
    background: #b5b1b1;
}

.title {
    white-space: nowrap;
}

.heading {
    font-family: "Inter", sans-serif;
    font-size: 3rem;
    font-weight: 400;
}

.content {
    margin-top: 30px;
    position: relative;

    .paginate {
        position: absolute;
        bottom: -50px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.list-projects {
    margin-top: 30px;

    .table {
        width: 100%;
        border-collapse: collapse;
    }
    .thead {
        .column {
            padding: 8px;
            border: none;
            text-align: left;

            .title {
                font-family: "Poppins", sans-serif;
                font-size: 1.7rem;
                font-weight: 400;
            }
        }
    }

    .tbody {
        .column {
            padding: 15px 8px;
            border-top: 1px solid #ddd;
            text-align: left;

            .text {
                display: inline-block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        .trow {
            transition: border-left-color 0.3s, box-shadow 0.3s;
            &:hover {
                border-left-color: #1570ee;
                box-shadow: inset 5px 0 0 #1570ee;
            }
        }
    }

    .tfoot {
        display: block;
        margin-top: 15px;

        .pagination {
            .MuiButtonBase-root {
                padding: 23px;
                font-size: 2.2rem;
                font-family: "Inter", sans-serif;
            }
        }
    }

    .project {
        width: 300px;

        .text {
            width: 150px;
        }
        .infor {
            display: flex;
            // align-items: center;
            column-gap: 10px;
        }
        .image {
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 8px;
        }

        .box {
            .name-project {
                font-family: "Inter", sans-serif;
                font-size: 1.8rem;
                font-weight: 300;
            }

            .location {
                display: flex;
                align-items: center;
                column-gap: 2px;
                .icon {
                    width: 15px;
                    height: 15px;
                }
                .position {
                    font-family: "Inter", sans-serif;
                    font-size: 1.4rem;
                    font-weight: 300;
                }
            }
        }
    }

    .id {
        width: 60px;
        .text {
        }
        .name {
            font-family: "Inter", sans-serif;
            font-size: 1.5rem;
            font-weight: 300;
            color: #000;
        }
    }
    .unit {
        width: 125px;
        .text {
        }
        .name {
            font-family: "Inter", sans-serif;
            font-size: 1.5rem;
            font-weight: 300;
            color: #000;
        }
    }
    .status {
        width: 170px;
        .text {
        }
        .name {
            font-family: "Inter", sans-serif;
            font-size: 1.5rem;
            font-weight: 300;
            color: #000;
        }
    }

    .sleep {
        width: 150px;
        .name {
            font-family: "Inter", sans-serif;
            font-size: 1.5rem;
            font-weight: 300;
            color: #000;
        }
    }

    .date {
        width: 170px;
        .name {
            width: 10px;
            font-family: "Inter", sans-serif;
            font-size: 1.5rem;
            font-weight: 300;
            color: #000;
        }
    }

    .booking-date {
        width: 150px;
        .name {
            // width: 100px;
            font-family: "Inter", sans-serif;
            font-size: 1.5rem;
            font-weight: 300;
            color: #000;
        }
    }
    // .price {
    //     .name {
    //         font-family: "Inter", sans-serif;
    //         font-size: 1.5rem;
    //         font-weight: 300;
    //         color: #000;
    //     }
    // }
}

.icon {
    color: #000;
    width: 30px;
    height: 30px;
}

.text-item {
    padding: 10px 30px !important;
    font-size: 1.4rem !important;
    font-family: "Inner", sans-serif !important;

    &:hover {
        background: rgba(65, 131, 196, 0.2);
    }

    .row {
        display: flex;
        align-items: center;
        gap: 10px;
        background: none !important;

        .icon {
            width: 20px;
            height: 20px;
        }
    }
}

.menu-wrapper {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px !important;
}

.header-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 40px;
    border: #beb8b87b solid 0.5px;

    // margin-bottom: 40px;
    padding: 10px 20px;
    border-radius: 10px 10px 0 0;
    background: #d0c3c334;

    .header {
        font-family: "Inter", sans-serif;
        font-size: 1.5rem;

        font-weight: 600;
    }
}
