// Header ============
.header {
  .navigation {
    padding: 33px var(--home-padding) 0;
  }
}

// Breadcrumbs
.breadcrumbs {
  margin-top: 15px;
  background-color: #f3f3f3;
  text-align: center;
  padding: 48px 0;

  .title {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 700;
    color: #000;
  }

  .nav {
    color: #000;
    font-size: 1.8rem;
    font-family: "Inter", sans-serif;
  }

  .text {
    color: #898989;
  }
  // padding: 40px 145px 0;
}
// Main
.main {
  margin-top: 5px;
  padding: 37px 50px;
  // background-color: orange;

  // Search\
  .top-content {
    display: flex;
    justify-content: center;
    position: relative;
    .heading {
      display: flex;
      gap: 10px;
      text-align: center;
      font-family: "Poppins", sans-serif;
      font-size: 4rem;
      z-index: 1;
      top: 25%;
      position: absolute;
      padding: 20px;
      font-weight: 500;
      color: #15100d;
    }
    .search {
      width: 100%;
      position: absolute;
      top: 40%;
      right: 0;
      padding: 10px;
      line-height: 4.8rem;
    }
    .header-img {
      width: 100%;
      border-radius: 10px;
      position: relative;
      object-fit: cover;
      max-height: 300px;
    }
  }
}
/*Featured Listing*/
.featured-listing {
  margin-top: 10px;
}

.featured-box {
  width: 340px;
  transition: all 0.4s;
  margin: 10px;
  .f-image {
    display: block;
    width: 100%;
    height: 205px;
    object-fit: cover;
    border-radius: 10px;
    position: relative;
  }
}

.f-content {
  width: 100%;
  display: grid;
  .f-row {
    display: flex;
    align-items: center;
  }

  padding-top: 23px;
  color: #000;
  font-family: "Inter", sans-serif;

  .f-name {
    font-size: 1.6rem;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .f-location {
    color: #3baac5;
    gap: 8px;
    .f-icon {
      width: 20px;
      height: 20px;
    }
    .f-text {
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 1.6;
    }
  }

  .f-available {
    display: inline-block;
    font-size: 1.6rem;
    color: #222222;
    line-height: 1.6;
    font-weight: 500;
  }

  .f-price {
    margin-top: 5px;
    gap: 5px;
    display: flex;
    justify-content: space-between;

    .f-text {
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.6;
      color: #303030;
      font-weight: 500;
    }
    .f-sale {
      display: flex;
      justify-content: space-between;
    }
  }
}
.f-button {
  background-color: #dc0f0f;
  color: var(--light);
  font-size: 1.2rem;
  border-radius: 4px;
  padding: 3px;
  height: 2.4rem;
  width: 5.5rem;
  font-family: "proxima_nova_rgbold", Arial, Helvetica, sans-serif;
  z-index: 2;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: white;
  font-weight: bold;
}

// React slick  ================
.slick-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ccc;
  cursor: pointer;
  .icon {
    width: 18px;
    height: 18px;
    color: #000;
  }

  &:hover {
    border-color: #000;
  }
}

.slick-prev {
  position: absolute;
  top: 25%;
  left: -35px;
  transform: translateY(-50%);
  z-index: 1;
}

.slick-next {
  position: absolute;
  top: 25%;
  right: -40px;
  transform: translateY(-50%);
  z-index: 1;
}

.top-resort-header {
  .title {
    font-family: "Poppins", sans-serif;
    font-size: 2.3rem;
    font-weight: 600;
    margin-left: 5px;
  }
}

.list-listing {
  margin-top: 30px;

  .table {
    width: 100%;
    border-collapse: collapse;
  }
  .thead {
    .column {
      padding: 8px;
      border: none;
      text-align: left;

      .title {
        font-family: "Poppins", sans-serif;
        font-size: 1.8rem;
        font-weight: 500;
      }
    }
  }

  .tbody {
    .column {
      padding: 15px 8px;
      border-top: 1px solid #ddd;
      text-align: left;

      .text {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .trow {
      &:hover {
        background-color: #1cb9541a;
      }
    }
  }

  .tfoot {
    display: block;
    margin-top: 15px;

    .pagination {
      .MuiButtonBase-root {
        padding: 23px;
        font-size: 2.2rem;
        font-family: "Inter", sans-serif;
      }
    }
  }

  .project {
    width: 400px;

    .text {
      width: 200px;
    }
    .infor {
      display: flex;
      align-items: center;
      column-gap: 10px;
    }
    .image {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 8px;
    }

    .box {
      .name-project {
        font-family: "Inter", sans-serif;
        font-size: 1.8rem;
        font-weight: 600;
      }

      .location {
        display: inline-flex;
        align-items: center;
        column-gap: 2px;
        .icon {
          width: 15px;
          height: 15px;
        }
        .position {
          font-family: "Inter", sans-serif;
          font-size: 1.4rem;
          font-weight: 500;
        }
      }
    }
  }

  .unit {
    width: 350px;
    .text {
      width: 300px;
    }
    .name {
      font-family: "Inter", sans-serif;
      font-size: 1.5rem;
      font-weight: 500;
      color: #000;
    }
  }

  .sleep {
    .name {
      font-family: "Inter", sans-serif;
      font-size: 1.5rem;
      font-weight: 500;
      color: #000;
    }
  }

  .date {
    .name {
      font-family: "Inter", sans-serif;
      font-size: 1.5rem;
      font-weight: 500;
      color: #000;
    }
  }
  .price {
    .name {
      font-family: "Inter", sans-serif;
      font-size: 1.5rem;
      font-weight: 500;
      color: #000;
    }
  }
}
