.icon {
  display: block;
  width: 25px;
  height: 25px;
  outline: none;

  &::before {
    position: absolute;
    content: "Action";
    display: inline-block;
  }
}

.container {
  width: 250px;
  max-height: min((100vh - 96px) - 60px, 734px);
  min-height: 30px;
  padding: 8px 0;
  border-radius: 4px;
  box-shadow: 0 2px 4px 4px #0000001a;
  background: rgb(255, 255, 255);
}

.container {
  padding: 10px;
  .list {
    .item {
      display: inline-flex;
      align-items: center;
      column-gap: 10px;
      .icon {
        width: 16px;
        height: 16px;
      }
      .title {
        font-family: "Inter", sans-serif;
        font-size: 1.4rem;
        font-weight: 400;
      }

      &:hover {
        color: blue;
      }
    }
  }
}

.title_popup {
  font-family: "Poppin", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  .text {
    font-weight: 400;
  }
}

.form_popup {
  .label {
    font-family: "Inter", sans-serif;
    font-size: 1.7rem;
    font-weight: 400;
  }
  .textArea {
    margin-top: 12px;
    width: 100%;
    height: 100px;
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    resize: none;
  }
}
