.wrapper {
    .content {
        padding: 10px;
        .text {
            font-family: "Poppins", sans-serif;
            font-style: normal;
            font-size: 3rem;
            font-weight: 500;
        }

        .desc {
            margin-top: 20px;
            display: block;
            resize: none;
            outline: none;
            border: 1px solid #b9bdc7;
            border-radius: 8px;
            padding: 9.5px 16px;
            font-family: "Inter", sans-serif;
            font-size: 1.5rem;
            font-weight: 400;
        }

        .submit-btn {
            margin-top: 20px;
            padding: 10px 0;
            width: 100%;
            border-radius: 20px;
            border: none;

            &:hover {
                background: #44bdd9;
                color: #fff;
            }
        }
    }
}
