.wrapper {
  padding: 10px 20px;
}

.avatar {
  display: flex;
  align-items: center;
  column-gap: 12px;
  .img {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 50%;
  }

  .min {
    .heading {
      font-family: "Inter", sans-serif;
      font-size: 1.5rem;
      font-weight: 500;
      color: #333;
    }

    .text {
      font-family: "Inter", sans-serif;
      font-size: 1.3rem;
      font-weight: 500;
      color: #888;
    }
  }
}

.list-option {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  .option {
    display: flex;
    align-items: center;
    column-gap: 12px;

    .op-icon {
    }

    .icon {
      display: block;
      width: 25px;
      height: 25px;
      color: #000;
    }

    .text {
      font-family: "Inter", sans-serif;
      font-size: 1.6rem;
      line-height: 1.6;
      color: #000;
      white-space: nowrap;
    }
    &.active {
      .text {
        color: #ee4d2d;
      }
    }
  }

  .option.chilrent {
    padding-left: 37px;
    .text {
      font-size: 1.4rem;
      color: rgba(0, 0, 0, 0.65);
    }

    &.active {
      .text {
        color: #ee4d2d;
      }
    }
  }
}
