.wrapper {
    border-radius: 8px;
    padding: 16px;
    background-color: #fff;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
        rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    padding: 30px 50px;
    height: 2000px;
}

.heading {
    font-family: "Poppins", sans-serif;
    font-size: 4rem;
    font-weight: 300;
}

.row {
    display: flex;
}

// Group Block

.group-block {
    display: flex;
    margin-top: 50px;
    gap: 40px;

    .block {
        width: 400px;
        border-radius: 15px;
        box-shadow: -3px 4px 16px -4px rgba(30, 26, 26, 0.75);
        .up-block {
            padding: 35px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 15px 15px 0 0;

            .price {
                font-family: "Poppins", sans-serif;
                font-size: 2.5rem;
                font-weight: 400;
                color: #2ac0e1;
            }

            .price.right {
                color: #4650dd;
            }

            .title {
                font-family: "Poppins", sans-serif;
                font-size: 1.8rem;
                font-weight: 300;
                color: #565656;
            }

            .icon {
                width: 30px;
                height: 30px;
                object-fit: cover;
            }
        }

        .down-block {
            background: #2abfe127;
            padding: 10px 35px;
            border-radius: 0 0 15px 15px;

            .row {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .text {
                    font-family: "Poppins", sans-serif;
                    font-size: 1.5rem;
                    font-weight: 400;
                    color: #2ac0e1;
                }

                .text.right {
                    color: #4650dd;
                }
            }
        }

        .down-block.right {
            background: #dadcf8;
        }
    }
}

// Chart Content

.chart-wrapper {
    margin-top: 50px;
    box-shadow: -3px 4px 16px -4px rgba(30, 26, 26, 0.75);
    width: 841px;
    border-radius: 15px;

    .chart-content {
        padding: 20px;
    }

    .chart-info {
        display: flex;
        gap: 20px;
    }
}
