.icon {
    display: block;
    width: 25px;
    height: 25px;
    outline: none;

    &::before {
        position: absolute;
        content: "Action";
        display: inline-block;
    }
}

.container {
    width: 250px;
    max-height: min((100vh - 96px) - 60px, 734px);
    min-height: 30px;
    padding: 8px 0;
    border-radius: 4px;
    box-shadow: 0 2px 4px 4px #0000001a;
    background: rgb(255, 255, 255);
}

.container {
    padding: 10px;
    .list {
        cursor: pointer;
        .item {
            width: 100%;
            padding: 10px 15px;
            display: inline-flex;
            align-items: center;
            column-gap: 10px;
            user-select: none;
            .icon {
                width: 16px;
                height: 16px;
            }
            .title {
                font-family: "Inter", sans-serif;
                font-size: 1.4rem;
                font-weight: 400;
            }

            &:hover {
                background: rgba(65, 131, 196, 0.2);
            }
        }
    }
}

.title_popup {
    font-family: "Poppin", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    .text {
        font-weight: 400;
    }
}

.form_popup {
    .label {
        font-family: "Inter", sans-serif;
        font-size: 1.7rem;
        font-weight: 400;
    }
    .textArea {
        margin-top: 12px;
        width: 100%;
        height: 100px;
        font-family: "Inter", sans-serif;
        font-size: 1.5rem;
        font-weight: 400;
        resize: none;
    }
}

.heading_popup {
    font-family: "Poppin", sans-serif;
    font-size: 2.5rem;
    font-weight: 550;
    color: #0b0b0b;
}

.desc_popup {
    font-family: "Inter", sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    color: #0b0b0b;
}

.list-popup {
    margin-top: 10px;
}

.input_popup {
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    row-gap: 5px;

    .label {
        font-size: 1.7rem;
        font-weight: 400;
    }

    .input {
        padding: 8px 10px;
        font-size: 1.4rem;
    }
}

.input_popup + .input_popup {
    margin-top: 8px;
}
